/* Etiqueta Id pendiente para el retorno a inicio  */
    
/* selector universal para setear margenes y asignar tipografias*/
       
*{
  margin: 0; 
  padding: 0;
  font-family: 'Lucida Sans Unicode', Sans-serif
   
}
 
html{

  font-size: 62.5%;
    
  }
/* selector  */

/* clases logo */

.logo{
 
  background-color: rgb(73, 72, 75);
  border-top-style:double;
  height: 150px;
  padding: 1em;

}
/* ajustes para el logo */


header{

  position: sticky;
  margin: auto;
  top:0
    

}

/* ajuste pestañas */ 

section nav{  
  
  text-align: center;
  
}
 
nav ul{
  
  display: flex;
  list-style: none;                  
     
}

nav ul li {

  width: 100%;
  background-color:#f3f3f3;
  padding: .2em;
  font-size: 1.5em;   
       
              
}

nav ul li a{
  
  
  padding: 1px;
  background-color: aliceblue;
  font-size: 0.8em;
  text-decoration:none;
  color: rgb(20, 73, 179); 
  align-self:center
  
  
}

nav ul li a:hover{

  padding: 2px;
  color: rgb(56, 11, 64);
  
}

/* ajuste pestañas nav */   


/* etiqueta h1 bienvenidos */

h1{ 
  
 
  margin-top: 3em;
  margin-left: 10rem;
  font-size: 2.5em;
  color: rgb(109, 105, 105); 
  
}

h2{
  
  padding: 85px;
  font-size: 22px;
  color: rgb(109, 105, 105);

}

/* ajustes de main */

.grid{
  
  padding-left: 5%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 1em;
  justify-items: center;
}

.biendog { 

  margin-top: 6em;

}
  
p {
  width: auto;
  text-indent: 0px; 
  height: auto;           
  margin-top: 100px;
} 

/* sangrias del parrafo */ 

div p{

  width: fit-content;  
  margin-left: 12rem;
  font-size: 1.5em;
  text-align: justify;
  line-height: 2em;
  text-indent: 1.5;
}

/* ajustes de main */



/* ajustes de Galeria */

  
h3 { 
    
  margin-left: 120px;
  font-size: 5em;
  color: rgb(109, 105, 105);
 

}

h3 {
  margin-left: 44%; 
  width: 240px;
  font-size: 25px;  
  padding-bottom: 150px;
 

}

h4 {

width: 88%;
font-size: 25px;
color: rgb(109, 105, 105);
margin-bottom: 25px;
display: flex;
margin-left: 120px;

}

div section{
 
  align-content: flex;

}

h4 div{

  margin-left: 22px;
  display:flex
  
 
}

 article {
  
  margin-top: 10em;
  text-align: center;
  font-size: 1.5em;


}

 article h2{
  
  margin-top: 10em;
  text-align: center;
  font-size: 1.5em;


}

  
/* ajustes de Galeria */

/* ajustes de mapa */

iframe{
  position: absolute;
  width: 25%; 
  margin-left: 5%;
  background-color: darkorange;

  
}

 #ubicanos {
  margin-bottom: 10px;
  display: inline;
}

section section{
 
  position: absolute;  
  width: fit-content; 
  float: none
  
}

section #costadoI{
 
 
  margin-left: 120px;
  padding-bottom: 0px;
  display: block
 
 
}

/* ajustes del aside */

aside {

  text-align-last: center;
  color: rgb(82, 78, 78);
  min-height: 300px;
  margin-left: 1200px;
  margin-right: 110px; 
  margin-bottom: 80px;
  float:right;
 
}
 

 /* ajustes del aside */


/* ajustes de Footer */


/* Snippet */


html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
footer {
  
  background-color: rgb(160, 158, 158);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content:space-around


  }

  /* footer list */

footer div {
  padding-top: 6px

}

footer a :hover{        
  
  transform: scale(1.2,1.2);
  margin-bottom: 1px;
  
      
}


  /* ajustes de footer */


  /* ajustes de lista tabla peluqeria*/


  /* ajustes del body en Peluqueria (pendiente)*/

.center{

    align-content:center;
    position: absolute;
    bottom: 28%;
    width: 25%;
    height:auto;
    right: 38%;
    text-align: center;
    padding: auto;

}
  /* ajustes de lista tabla peluqeria*/



  /* ajustes del titulo peluqeria */

.reservas{


  min-height: 400px;
}


.text-left{

  text-align: left;

}

.text-right{

  text-align: right;

}

.text-center{

  text-align: center;
  
}
  
.text-justify{

  text-align: justify;
  
}


.text-bold{

  font-weight: 100px;
}
