// botoneras

.btn {
    background-color: $btnColor;
    border: none;
    padding: -2px -1px;
    text-align: center;
    font-size: $s1;
    margin: 1px 1.5px;
    transition: 0.3s;
    .btn:hover {
        background-color: $btnHoverColor2;
        color: $btnHoverColor;
    
    }
    
}

// botonera hamburguesa 

.navbar-nav.me-auto.mb-2.mb-lg-0 {

    flex-direction: row;
    justify-content: center;
    margin-left: 0.5em;
   
}

#colorH {
    background-color: rgb(242, 242, 241)
}