// seteo nav para hacer cabecera 

#cabecera {

    background: $mainColor;
    background: $cabeceraColor;
    flex-direction: column;

    div ul {

        text-align: center;
        text-decoration: solid;
        column-gap: 1vw;
        justify-content: space-around;
        font-size: $sBtn;
        margin-top: 5vh;

        .navbar-nav.me-auto.mb-2.mb-lg-0 {
            flex-direction: row;
            justify-content: center;
            margin-left: 1vw;

        }
    }
}

.mb-2 {
    margin-bottom: 0.5vh !important;
}

@media (max-width: 321px) {

    #cabecera div ul {
        text-align: center;
        text-decoration: solid;
        column-gap: 2vw;
        justify-content: space-around;
        font-size: xx-small;
        margin-top: 5vh;

    }

}


// botonera hamburguesa 

.navbar-nav.me-auto.mb-2.mb-lg-0 {

    flex-direction: row;
    justify-content: center;
    margin-left: 0em;

}

#colorH {
    background-color: rgb(242, 242, 241)
}

a.nav-link {
    height: 3vh;

}

a {
    color: $colorNav;
    text-decoration: none;

}

// botoneras

.btn {
    background-color: $btnColor;
    border: none;
    padding: -2px -1px;
    text-align: center;
    font-size: $s1;
    margin: 1px 1.5px;
    transition: 0.3s;

    .btn:hover {
        background-color: $btnHoverColor2;
        color: $btnHoverColor;

    }

}


@media (min-width:1200px) {
    .btn {
        --bs-btn-padding-x: 1.8rem;
    }
    #cabecera div ul {
        COLUMN-GAP: 22vw;
    }
    .navbar-nav.me-auto.mb-2.mb-lg-0 {

        flex-direction: row;
        justify-content: center;
        margin-left: 0.95em;
    
    }

}

