// fonts
$mainFont: 'Poppins', sans-serif;

// sizes
$s1:1em;
$sBtn:small;
$sXsm: x-small;

// colores
$mainColor: rgb(242, 242, 241);
$cabeceraColor: linear-gradient(0deg, rgba(243, 243, 243, 1) 25%, rgba(72, 72, 75, 1) 1%);
$colorNav:rgb(5, 50, 135);
$btnColor:rgb(220,224,222);
$btnHoverColor2:#d3d9df;
$btnHoverColor: rgb(141, 130, 130);
$colorH:background-color rgb(242, 242, 241);
$colorBtnup:rgba(15, 60, 182, 0.742);
$colorTable: rgba(55, 171, 197, 0.591);



