// ajustes para peluquería


.h1P {

    margin-top: 10vh;
    padding-bottom: 2%;


}

.colorT {

    background-color: $colorTable;
}

.tabla {
    margin-left: 5%;
    margin-bottom: 10%;
    width: 90%;
    font-size: 0.8rem;
    padding: auto;
}
